<div class="m-4">
    <p-dataView #dv [value]="products" [layout]="'grid'" >
        <ng-template let-product pTemplate="grid" let-products>
            <div class="grid grid-nogutter ">
                <div class="col-10 md:col-5 lg:col-4 xl:col-3 p-1" style=" max-height: 375px;" *ngFor="let product of products">
                    <div class="border-1 surface-border surface-card border-round relative min-h-full align-items-stretch">
                        <span class="product-tag flex align-items-center gap-2" >
                            <i class="pi pi-tag"></i>
                            <span class="font-semibold">{{ product.tag }}</span>
                        </span>
                        <p-tag class="product-status" [value]="''+this.sessionService.getStatusName(product)" 
                        [severity]="''+this.sessionService.getSeverity(product)"></p-tag>
                        <img (click)="navigateToDetail(product)" class=" w-full shadow-2 border-round cursor-pointer" 
                        [src]="'assets/galeria-4.jpg'" [alt]="product.name"
                        style="max-height: 225px;" />
                        <div class="flex flex-column align-items-center gap-2" style="padding:10px">
                            <div class="text-1xl font-bold cursor-pointer product-name text-left" 
                                (click)="navigateToDetail(product)">{{ product.name1 }}
                            </div>
                            <div class="flex align-items-center justify-content-between w-full">
                                <span class="text-1xl font-semibold">{{ '$' + product.price }}</span>
                                <p-button icon="pi pi-shopping-cart" (click)="addToCard(product)"  [outlined]="true" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>