<h1>Here we can add new products</h1>

<div class="flex col-12 flex-column justify-content-center" style="gap: 0.25rem">
  <div class="flex flex-row flex-wrap justify-content-center col-8 m-auto">
    <div class="flex flex-column gap-2 col-6">
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-th-large"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Name" [(ngModel)]="productName" />
      </p-inputGroup>
    </div>
    <div class="flex flex-column gap-2 col-6">
      <p-inputGroup>
        <p-inputGroupAddon>$</p-inputGroupAddon>
        <input type="text" pInputText placeholder="Price" [(ngModel)]="productPrice" />
        <p-inputGroupAddon>.00</p-inputGroupAddon>
      </p-inputGroup>
    </div>
    <div class="flex flex-column gap-2 col-6">
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-tag"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="Tag" [(ngModel)]="productTag" />
      </p-inputGroup>
    </div>
    <div class="flex flex-column gap-2 col-6">
      <p-dropdown
        class="w-full flex w-full"
        [options]="statusOptions"
        optionLabel="name"
        [(ngModel)]="selectedStatus"
        placeholder="Select a status"></p-dropdown>
    </div>

    <div class="flex flex-column gap-2 col-12">
      <span class="p-float-label">
        <textarea
          id="float-input"
          rows="5"
          cols="30"
          class="w-full"
          pInputTextarea
          [(ngModel)]="productDescription"></textarea>
        <label for="float-input">Description</label>
      </span>
    </div>
    <div class="flex flex-column gap-2 col-12">
      <app-technical-details-table (dictionaryChangedEvent)="updateDictionary($event)"></app-technical-details-table>
    </div>

    <p-fileUpload
      class="w-full"
      name="myfile[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      [multiple]="true"
      accept="image/*"
      [maxFileSize]="1000000"
      (onUpload)="onUpload($event)">
      <ng-template pTemplate="toolbar">
        <div class="py-3">Upload 3 Files</div>
      </ng-template>
    </p-fileUpload>
  </div>

  <div class="flex flex-row flex-wrap justify-content-left col-8 m-auto p-3">
    <button pButton pRipple label="Submit" class="p-button-success w-6 m-auto" (click)="submit()"></button>
  </div>
</div>
